.Layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:8px;
    padding: 24px;
    width: 100%;
    & > * {
        display: flex;
        align-items: center;
        text-align: center;
    }

}

// media query for mobile
@media (max-width: 1024px) {
    .Layout {
        display: none;
    }
}